<% layout('/layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="post" novalidate class="validated-form" 
                enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" value="<%=campground.title %>"
                        name="campground[title]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" value="<%= campground.location %>"
                        name="campground[location]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
        
                <div class="mb-3">
                    <label class="form-label" for="price">Campground Price</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" value="<%= campground.price %>" placeholder="0.00"
                            aria-label="price" aria-describedby="price-label" name="campground[price]" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]"
                        required><%=campground.description %></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="input-image">Add more photos</label>
                    <input id="input-image" type="file" class="file form-control" data-show-upload="false"
                        data-preview-file-type="text" multiple name="image">
                </div>

                <div class="mb-3">
                    <% campground.images.forEach(function(img, i) { %>
                        <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="">
                        <div class="form-check-inline">
                            <input type="checkbox" id="image-<%= i %>" name="deleteImages[]" value="<%= img.filename %>">
                        </div>
                        <label for="image-<%= i %>">Delete</label>
                    <% }) %>
                </div>

                <div class="mb-3">
                    <button class="btn btn-info">Update Campground</button>
                </div>

                <script>
                    $("#input-image").fileinput({
                        showUpload: false,
                        showRemove: true,
                        maxFileCount: 8,
                        allowedFileExtensions: ["jpg", "png", "jpeg"]
                    });
                    $(".btn-upload-image").on("click", function() {
                        $("#input-image").fileinput('upload');
                    });
                </script>

            </form>
            <a href="/campgrounds/<%= campground._id %>">Back To Campground</a>
        </div>
    </div>